@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit&family=Prompt&display=swap');

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
	
}

div .about-container {
    background-color: #F9F6EE;
    background-image: -webkit-linear-gradient(-65.12deg, #F9F6EE 50%, #343434 50%);
    margin-top: -500px;
    justify-content: center;
   
}


.contact-button {
    top: 20px;
    background-color: #db2b39;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #F9F6EE;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.contact-button:hover {
  background-color: #F082AC;
}

div .about-title {
    margin-top: 500px;
    text-align: center;
    position: relative;
    top: 90px;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #343434;
}

.rectangle {
    margin-top: 150px;
    display: inline-block;
    width: 800px;
    height: 460px;
    border-radius: 75px;
    border: 7px solid #F9F6EE;
    background-color: #302F2F;
    text-align: center;
}

.about-paragraph {
    margin-top: 85px;
    font-size: 18px;
    text-align: center;
  font-family: 'Prompt', sans-serif;
  line-height: 30px;
  color: #F9F6EE;

}