@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.achievements-actual-container {
  padding: 50px;
  margin-left: 3.8rem;
  background-color: #282c34;
  font-family: "Ubuntu", sans-serif;
}

.achievements-title{
    font-size: 2.8rem;
    font-weight: 475;
    color: #98c379;
}

.achievements-list-title, .publications-title {
   font-size: 1.7rem;
  color: #42a5f5;
}

.achievements-list{
    list-style: square;
}

.achievements-list li::marker{
    font-size: 1.125rem;
    color:#c678dd;
}

.achievement-item{
    margin-bottom: 7px;
    font-size: 1.1rem;
    color: #f3f3f3;
}

.date-name{
    font-size: 1.125rem;
    color:#c678dd;
}

.pub-name-link-container{
    display: flex;
    flex-direction: row;
    column-gap: 13px;
    align-items: center;
}

.pub-link{
    text-decoration: none;
    cursor: pointer;
}

.publications-list{
    list-style: square;
}

.publications-list li::marker {
    font-size: 1.2rem;
    color: #d19a66;
}

.publications-list-item{
    margin-bottom: 10px;
}

.publication-name{
    font-size: 1.2rem;
    color: #d19a66;
    font-weight: 500;
}

.paper-icon{
    font-size: 1.4rem;
    color: #db2b39;
}

.paper-icon:hover{
    color: #9599a0;
}

.authors-list{
    font-size: 1.095rem;
    color: #f9f6ee;
}

.publisher{
    font-size: 1.05rem;
    font-style: italic;
    color: #abb2bf;
}

.pub-name-link-container, .authors-list, .publisher {
    margin-bottom: 5px;
}