@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.achievements-container {
    background-color: #343434;
    background-image: -webkit-linear-gradient(-66.3deg, #343434 50%, #F9F6EE 50%);
    margin-top: -40px;
    padding: 20px; /* Added padding for better spacing */
}

.achievements-title {
    padding-top: 120px; /* Adjusted padding for smaller devices */
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #F9F6EE;
    margin-bottom: 15px; /* Adjusted margin for smaller devices */
}

.achievements-list {
    list-style: none;
    margin-top: 20px; /* Adjusted margin for smaller devices */
}

.achievement-item {
    font-family: 'Jost', sans-serif;
    color: #F9F6EE;
    font-size: 16px; /* Adjusted font size for smaller devices */
    line-height: 1.5; /* Improved readability */
    padding: 6px; /* Added padding for better spacing */
}

.achieve-container {
    max-width: 100%;
    border: 3px solid #F9F6EE;
    border-radius: 20px;
    background-color: #302F2F;
    padding: 15px;
    overflow: hidden;
    margin: 0 auto; /* Add this line to center-align the container */
    display: flex; /* Add this line to use flexbox */
    justify-content: center; /* Add this line to horizontally center the content */
    align-items: center; /* Add this line to vertically center the content */
}

/* Media Queries */

@media (min-width: 320px) {
    .achievements-title {
        font-size: 18px;
    }
}

@media (min-width: 375px) {
    .achievement-item {
        font-size: 18px;
    }
}

@media (min-width: 425px) {
    .achievement-item {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .achieve-container {
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    .achieve-container {
        max-width: 960px;
    }
}

@media (min-width: 1440px) {
    .achieve-container {
        max-width: 1300px;
    }
}
