* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
	
}

.achievements-container {
    background-color: blue;
    
    margin-top: -40px;
}

.achievements-title{
    padding-top: 95px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #F9F6EE;
}
