

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Manrope&family=Oswald&display=swap');


* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
	
}

div .experience-container {
    background-color: #F9F6EE;
    background-image: -webkit-linear-gradient(301.5deg, #F9F6EE 50%, #343434 50%);
    margin-top: -500px;
    padding-bottom: 0rem;
}

div .experience-title {
    margin-top: 500px;
    text-align: center;
    position: relative;
    top: 100px;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #343434;
}

.experience-box-contain {
    margin-top: 125px;
    display: inline-block;
    width: 1350px;
    height: 460px;
    border-radius: 75px;
    border: 7px solid #F9F6EE;
    background-color: violet;
}

.vertical-line {
    border-left: 5px solid #db2b39;
    height: 3000px;
    margin-left: 760px;
    margin-top: 175px;
}

.experience-point {
    height: 40px;
  width: 40px;
  background-color: #CC7722;
  border-radius: 50%;
  display: inline-block;
}

.e-logo {
    position: relative;
    bottom: -7.5px;
}

.experience-box-black-white {
    display: inline-block;
    border-radius: 30px;
    border: 7px solid #F9F6EE;
    background-color: #302F2F;
    color:#F9F6EE;
}


.experience-box-white-black {
    display: inline-block;
    border-radius: 30px;
    border: 7px solid #302F2F;
    background-color: #F9F6EE;
    color:#343434;
}

.date {
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    position: relative;
    top: -20px;
    color: #db2b39;
}

.job-title{
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    position: relative;
    top: -30px;
}

.company {
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    position: relative;
    top: -40px;
}

.stack-concepts {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    position: relative;
    top: -50px;
}

.job-description {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    position: relative;
    top: -40px;
}

.full-experience-paragraph-left {
    position: relative;
    top: 35px;
    left: 10px;
    width: 600px;
}

.full-experience-paragraph-right {
    position: relative;
    top: 35px;
    left: 10px;
    width: 600px;
}

div .left-aligned-paragraph {
    text-align: left;
}

div .right-aligned-paragraph {
    text-align: right;
}

.first-experience {
    position: relative;
    top: -2000px;
}

.experience-point.first {
    position: relative;
    top: -1115px;
    left: 323px;
}

.experience-box-white-black.first-exp {
    width: 635px;
    height: 275px;
    position: relative;
    top: -1000px;
    left: 350px;
    justify-content: left !important;
    text-align: left !important;
}

.second-experience {
    position: relative;
    top: -1975px;
}

.experience-point.second {
    position: relative;
    top: -1095px;
    left: 323px;
}

.experience-box-white-black.second-exp {
    width: 635px;
    height: 275px;
    position: relative;
    top: -975px;
    left: -375px;
    justify-content: right !important;
    text-align: right !important;
}

.third-experience {
    position: relative;
    top: -1950px;
}

.experience-point.third {
    position: relative;
    top: -1035px;
    left: 323px;
}

.experience-box-white-black.third-exp {
    width: 635px;
    height: 275px;
    position: relative;
    top: -950px;
    left: 350px;
    justify-content: left !important;
    text-align: left !important;
}

.fourth-experience {
    position: relative;
    top: -1925px;
}

.experience-point.fourth {
    position: relative;
    top: -1065px;
    left: 323px;
}

.experience-box-white-black.fourth-exp {
    width: 635px;
    height: 315px;
    position: relative;
    top: -925px;
    left: -375px;
    justify-content: right !important;
    text-align: right !important;
}

.fifth-experience {
    position: relative;
    top: -1900px;
}

.experience-point.fifth {
    position: relative;
    top: -1055px;
    left: 323px;
}

.experience-box-white-black.fifth-exp{
    width: 635px;
    height: 350px;
    position: relative;
    top: -900px;
    left: 350px;
    justify-content: left !important;
    text-align: left !important;
}

.sixth-experience {
    position: relative;
    top: -1875px;
}

.experience-point.sixth {
    position: relative;
    top: -1070px;
    left: 323px;
}

.experience-box-white-black.sixth-exp {
    width: 635px;
    height: 325px;
    position: relative;
    top: -925px;
    left: -375px;
    justify-content: right !important;
    text-align: right !important;
}

.seventh-experience {
    position: relative;
    top: -1900px;
}

.experience-point.seventh {
    position: relative;
    top: -1055px;
    left: 323px;
}

.experience-box-white-black.seventh-exp{
    width: 635px;
    height: 350px;
    position: relative;
    top: -900px;
    left: 350px;
    justify-content: left !important;
    text-align: left !important;
}

.eighth-experience {
    position: relative;
    top: -1875px;
}

.experience-point.eighth {
    position: relative;
    top: -1070px;
    left: 323px;
}

.experience-box-white-black.eighth-exp {
    width: 635px;
    height: 325px;
    position: relative;
    top: -925px;
    left: -375px;
    justify-content: right !important;
    text-align: right !important;
}

.ninth-experience {
    position: relative;
    top: -1900px;
}

.experience-point.ninth {
    position: relative;
    top: -1005px;
    left: 323px;
}

.experience-box-black-white.ninth-exp{
    width: 635px;
    height: 265px;
    position: relative;
    top: -900px;
    left: 350px;
    justify-content: left !important;
    text-align: left !important;
}




.experience-list {
    list-style: none;
    
    position: relative;
    top: -2675px;
    justify-content: center;
    margin-left: 115px;
}

.experience-item {
    display: inline-block;
    margin-right: 100px;
}

.exp-button {
    font-family: 'Outfit', sans-serif;
    width: 250px;
    height: 50px;
    font-size: 25px;
    color: #db2b39;
    background-color: #343434;
    border-radius: 10px;
    border: 3px solid #F9F6EE;
}

