

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Manrope&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
	
}

div .experience-container {
    background-color: #F9F6EE;
    background-image: -webkit-linear-gradient(-65.12deg, #F9F6EE 50%, #343434 50%);
    
    margin-top: -500px;
    padding-bottom: 0rem;
}

div .experience-title {
    margin-top: 500px;
    text-align: center;
    position: relative;
    top: 100px;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #343434;
}

.experience-list-container{
    width: 1000px;
    background:#F9F6EE;
    margin:170px auto;
    border-radius: 50px;
    border: 7px solid #302F2F;
}

.white-colour {
    color: #F9F6EE;
}

.black-colour {
    color: #343434;
}



.horizontal-line-up {
    margin: 130px auto;
}

.horizontal-line-down {
    margin: 20px auto;
}

.job-experience-item {
    margin-left: 120px;
    
}

.job-experience-item.first {
    margin-top: 40px;
}

.job-experience-item.second {
    margin-top: 30px;
}

.job-experience-item.third {
    margin-top: 30px;
}

.job-experience-item.fourth {
    margin-top: 30px;
}

.job-experience-item.fifth {
    margin-top: 30px;
}

.job-experience-item.sixth {
    margin-top: 30px;
}

.job-experience-item.seventh {
    margin-top: 30px;
}

.job-experience-item.eighth {
    margin-top: 30px;
}

.job-experience-item.ninth {
    margin-top: 30px;
}

.last-experience {
    margin-bottom: 30px;
}

.pos-date-item {
    display: inline-block;
    margin-right: 130px;
}

.pos-date-item.job-pos.smaller-job-one {
    font-size: 25px;
    margin-left: 45px;
}

.pos-date-item.date.smaller-date-one {
    font-size: 17px;
    margin-left: -30px;
}

.pos-date-item.job-pos.smaller-job-two {
    font-size: 23px;
    margin-left: 1px;
}

.pos-date-item.date.smaller-date-two {
    font-size: 15px;
    margin-left: -15px;
}

.pos-date {
    list-style: none;
    justify-content: center;
}

.pos-date.still-left{
    margin-left: -50px;
}

.pos-date.still-right{
    margin-left: 30px;
}

.pos-date.still-right-one {
    margin-left: -15px;
}

.pos-date.still-left-one{
    margin-right: -35pt;
}







.pos-date-item.job-pos {
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
}

.pos-date-item.date{
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    color: #db2b39;
}

.company-stack-description{
    margin-top: 5px;
    margin-left: 50px;
    width: 550px;
}

.company {
    font-family: 'DM Sans', sans-serif;
    font-size: 21px;
}

.stack-skills {
    margin-top: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
}

.job-description {
    margin-top: 10px;
    justify-content: stretch;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

.experience-point {
    height: 40px;
  width: 40px;
  background-color: #CC7722;
  border-radius: 50%;
  display: inline-block;
}

.e-logo {
    position: relative;
    bottom: -7.5px;
}

div .left-aligned-paragraph {
    text-align: left;
}





.other-experience-buttons {
    list-style: none;
    
    position: relative;
    justify-content: center;
    margin: -120px auto;
    margin-left: 125px;
}

.other-experience-item {
    display: inline-block;
    margin-right: 100px;
}

.exp-button {
    font-family: 'Outfit', sans-serif;
    width: 250px;
    height: 50px;
    font-size: 25px;
    color: #db2b39;
    background-color: #F9F6EE;
    border-radius: 10px;
    border: 3px solid black;
}

.ve-title{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

.ve-list{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}