@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zeyada&display=swap');

footer {
  padding: 7em 0; }

.footer-07 {
  background: #343434; }

.footer-07 a {
    color: #F9F6EE; }

.footer-07 a:hover {
    color: #db2b39 !important;
    cursor:pointer; }

.footer-07 p {
    color: rgba(255, 255, 255, 0.3); }

.one-letter {
	font-family: "Zeyada", cursive;
    font-weight: 1200;
    font-size: 3.4rem;
}

.one-letter.first-half {
    color: #db2b39;
}

.one-letter.second-half {
    color: #F9F6EE;
}

.two-letter {
	font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
}

.two-letter.first-half {
	color: #db2b39;
}

.two-letter.second-half{
	color: #F9F6EE;
}

.footer-07 .footer-heading {
    font-size: 30px;
    color: #F9F6EE;
    font-weight: 700;
    margin-bottom: 30px; }

.footer-07 .menu {
    margin-bottom: 30px; }

.footer-07 .menu a {
		font-family: "Poppins", sans-serif;
		text-decoration: none;
      color: rgba(255, 255, 255, 0.6);
      margin: 0 10px;
      text-transform: uppercase;
      letter-spacing: 1px; }


.footer-07 .menu a:hover {
	color: #db2b39 !important;
    cursor:pointer;
}

.footer-07 .ftco-footer-social li a {
    background: transparent;
    border: 1px solid #F9F6EE; }

.footer-07 .ftco-footer-social li a:hover {
    color: #db2b39 !important;
    cursor:pointer; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
    .container {
      max-width: 540px; } }

@media (min-width: 768px) {
    .container {
      max-width: 720px; } }

@media (min-width: 992px) {
    .container {
      max-width: 960px; } }

@media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 768px) {
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
}

.text-center {
  text-align: center !important; }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }

.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    position: relative; }

.ftco-footer-social li a span {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.contact-logo {
	bottom: 0.01rem;
}

.ftco-footer-social li a:hover {
      color: #db2b39 !important;
    cursor:pointer; }

.p-0 {
  padding: 0 !important; }

.location-line{
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	color: #F9F6EE;
	text-align: center !important;
	position: relative;
	bottom: -70px;
}

.footer-tooltip {
    background-color:  #F9F6EE !important;
    font-family: 'Josefin Sans', sans-serif;
    color: #343434 !important;
}

.link-item:hover{
    cursor: pointer;
}