@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.home-main-container {
  background-color: #282c34;
  padding: 20px;
  height: calc(100vh - 50px); 
  display: flex;
  margin-left: 3.8rem; 
  justify-content: center;
  align-items: center;
}

.home-container {
  text-align: center;
}

.typewriting-effect-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -35px;
  color: #f3f3f3; 
  text-align: center;
  font-weight: 450;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
}

.prefix-text {
  margin-right: 5px;
}

.centered-buttons-container{
    justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.home-link{
  text-decoration: none;
  cursor: pointer;
}

.button-one, .button-two, .middle-button-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
    color: #c2c2c2;
    font-weight: 450;
    background-color: #21252b;
      font-family: "Ubuntu", sans-serif;
      border-radius: 5px;
      width: auto;
      height: 2.2rem;
}

.button-one:hover, .button-two:hover, .middle-button-container:hover {
  cursor: pointer;
}
.button-icon {
  margin-left: 14px;
  text-align: center;
}

.button-one-title, .button-two-title, .middle-button-title{
  margin-right: 14px;
  text-align: center;
  font-size: 1.2rem;
}

.side-by-side-buttons-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 2.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered-text {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #f3f3f3;
  font-size: 3.3rem;
  text-shadow: 2px 2px 1.5px  black;
}
