@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap');

:root{
    --header-height: 3.5rem;
    --hue: 230;
    --first-color: hsl(var(--hue), 55%, 55%);
    --first-color-light: hsl(355.2,71%,51.4%);
    --first-color-alt: hsl(var(--hue), 50%, 50%);
    --title-color: hsl(43.6,47.8%,95.5%);
    --text-color: hsl(var(--hue), 20%, 80%);
    --text-color-light: hsl(var(--hue), 20%, 70%);
    --body-color: hsl(0, 0%, 20.4%);
    --container-color: hsl(var(--hue), 40%, 20%);
    --body-font: "Syne", sans-serif;
    --biggest-font-size: 3rem;
    --big-font-size:1.5rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 5.5rem;
    --big-font-size:2.75rem;
    --h1-font-size:2.25rem;
    --h2-font-size:1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: .875rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
   scroll-behavior: smooth; 
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}


h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

.nav__link {
    text-decoration: none;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 2rem;
}

.section__title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 2rem;
}

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
	
}

.home__container {
    row-gap: 2rem;
    padding-top: 1rem;
}

.home__img {
    width: 300px;
    justify-self: center;
    mask-image: linear-gradient(to bottom, hsla(var(--hue), 40%, 16%), 90%, transparent 100%);
    display: block;
    max-width: 100%;
    height: auto;

}

.home__name {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    word-break: break-word;
    margin-bottom: 1rem;
}

.home__profession {
    position: relative;
    font-size: var(--big-font-size);
    columns: var(--title-color);
}

.home__profession::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 25%;
    height: 3px;
    background-color: var(--first-color-light);
}

.home__scroll {
    color: var(--title-color);
    display: inline-flex;
    column-gap: .5rem;
    align-items: center;
    justify-self: center;
    margin-top: 3rem;
}

.home__scroll-box {
    background-color: var(--first-color);
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    overflow: hidden;
}

.home__scroll-text {
    font-weight: var(--font-semi-bold);
}

.home__scroll-box i {
    animation: scroll-down 3s infinite;
}

@keyframes scroll-down {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(.6rem);
        opacity: 0;
    }
}