@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar-main-container {
    margin: 0;
    padding: 0;
    width: calc(100% - 3.8rem);
    margin-left: 3.8rem;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #21252b;
}

.navbar-actual-container {
    display: inline-flex;
    background-color: #21252b;
}

.navbar-link-item {
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #f9f6ee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-actual-container a:hover {
    background-color: #282c34;
    cursor: pointer;
}

.item-container{
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    flex-wrap: nowrap;
}

.html-icon{
color: #fc490b;
margin-top: 0.19rem;
}

.js-icon, .json-icon {
    color: #f7df1e;
    margin-top: 0.19rem;
}

.java-icon {
    color: #ca3132;
    margin-top: 0.19rem;
}

.css-icon {
    color: #3687ff ;
    margin-top: 0.19rem;
}

.xlsx-icon {
    color: #1fb35b;
    margin-top: 0.19rem;
}

.md-icon {
    color: #9599a0;
    margin-top: 0.19rem;
}
