@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
}

.navbar-main-container{
background-color: #21252b;
    position: fixed;
    top: 0;
    z-index: 1;
    margin-left: 3.3rem;
    width: 100%;
    overflow-y: auto;
}

.navbar-actual-container{
    margin-left: 0.45rem;
    display: flex;
    flex-direction: row;
    column-gap: 0.45rem;
    flex-wrap: nowrap;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.home-name, .skills-name, .education-name, .projects-name, .experience-name, .achievement-name, .contact-name {
    font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #f9f6ee;
}

.html-icon{
color: #fc490b;
}

.js-icon, .json-icon {
    color: #f7df1e;
}

.java-icon {
    color: #ca3132;
}

.css-icon {
    color: #3687ff ;
}

.xlsx-icon {
    color: #1fb35b;
}

.md-icon {
    color: #9599a0;
}

.skills-icon, .home-icon, .education-icon, .projects-icon, .experience-icon, .achievement-icon, .contact-icon{
    margin-left: -1.6rem;
}

.nac-item-list{
    list-style: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: -0.45rem;
    border-left: 0.35px solid;
    border-right: 0.35px solid;
    padding-right: 0.6rem;
}

.home-list{
    border-left: 0px;
}

.contact-list{
    border-right: 1.8px solid;
}

.nac-item-list-item{
    font-size: 1.075rem;
    display: inline-block;
  margin-right: 0.45rem;
}

.home-list:hover, .skills-list:hover, .education-list:hover, .projects-list:hover, .experience-list:hover, .achievement-list:hover, .contact-list:hover {
    background-color: #282c34;
}