@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
	
}

.projects-container {
    background-color: aqua;
    margin-top: -40px;
}

.projects-title{
    padding-top: 95px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #343434;
}

.projects-list-container{
    margin-top: 50px;
    margin-left: 25px;
}

.projects-list{
    list-style: none;
}

.projects-list-item{
    display: inline-block;
  margin-right: 25px;
}

.about-project{
    margin-top: 80px;
}

.project-list-title{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    margin-top: -50px;
    text-align: center;
}

.project-list-title.two{
    margin-top: -70px;
}

.tech-stack-project{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    margin-top: 7px;
}

.project-description{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-family: 'Jost', sans-serif;
}

.project-github-icon{
    margin-top: 15px;
}

.left-aligned-paragraph {
    text-align: left;
}


.project-box{
    width: 345px;
  height: 300px;
  border-radius: 50px;
  border: 10px solid #2196F3;
  background-color: #f7f7f7;
}


.projectsr-container {
    margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-rectangle {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
}
