@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.projects-actual-container {
  padding: 50px;
  margin-left: 3.8rem;
  background-color: #282c34;
  font-family: "Ubuntu", sans-serif;
}

.projects-container{
    margin-top: -20px;
    margin-left: 1.9rem;
}

.projects-title {
  font-size: 2.8rem;
  font-weight: 475;
  color: #98c379;
}

.projects-intro-title {
  font-size: 1.7rem;
  color: #42a5f5;
  font-weight: 415;
}

.projects-list {
  list-style: square;
  padding: 0;
}

.projects-list li::marker {
    font-size: 1.5rem;
    color: #f3f3f3; 
}
