@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit&family=Prompt&display=swap');

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
	
}

div .skills-container {
    background-color: #343434;
    background-image: -webkit-linear-gradient(-67.4deg, #343434 50%, #F9F6EE 50%);
    margin-top: -500px;
    justify-content: center;
   
}

div .skills-title {
    margin-top: 500px;
    text-align: center;
    position: relative;
    top: 80px;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: #F9F6EE;
}

div .skills-list {
    margin-top: 125px;
    justify-content: center;
    text-align: center;
}

.skills-list-container{
    display: inline-block;
    width: 800px;
    height: 160px;
    border-radius: 50px;
    border: 7px solid #302F2F;
    background-color: #F9F6EE;
    text-align: center;
    font-size: 40px;
    font-family: 'Outfit', sans-serif;
}

.skills-list-container.interpersonal{
    margin-top: 25px;
}

.skills-list-container.lang {
    margin-top: 25px;
}

.skill-logo-item {
    position: relative;
    top: 8px;
}

.technical-skills-title {
    font-family: 'Outfit', sans-serif;
    color: #F9F6EE;
    font-size: 30px;
}

.interpersonal-skills-title {
    font-family: 'Outfit', sans-serif;
    color: #F9F6EE;
    font-size: 30px;
}

.lang-skills-title {
    font-family: 'Outfit', sans-serif;
    color: #F9F6EE;
    font-size: 30px;
}

.first-line-skills {
    list-style: none;
    
    margin-top: 20px;
}

.second-line-skills {
    list-style: none;
    
    margin-top: 15px;
}

.third-line-skills {
    list-style: none;
    
    margin-top: 15px;
}

.fourth-line-skills {
    list-style: none;
    
    margin-top: 15px;
}

.fifth-line-skills {
    list-style: none;
    
    margin-top: 15px;
}

.sixth-line-skills {
    list-style: none;
    
    margin-top: 15px;
}

.seventh-line-skills {
    list-style: none;
    
    margin-top: 15px;
}

.list-item {
    display: inline-block;
    margin-right: 10px;
}

.skill-button {
    background-color: #F9F6EE;
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    width: 110px;
    height: 50px;
    border-radius: 15%;
    box-shadow: none;
    color: black;
}
.skill-button.js {
    font-size: 15px;
}

.skill-button.ss{
    font-size: 15px;
}

.skill-button.bs{
    font-size: 15px;
}

.skill-button.as{
    font-size: 12px;
}

.skill-button.kl{
    font-size: 15px;
}

.skill-button.ws{
    font-size: 15px;
}

.skill-button.ip{
    font-size: 11px;
}

.skill-button.sc-t{
    position: relative;
    bottom: -8px;
    font-size: 11px;
}

.skill-button.sc{
    position: relative;
    top: -7px;
    font-size: 11px;
}

.s-logo{
    position: relative;
    top: 2.5px;
}

